.inputAnswerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    font-size: 20px;
  }
  .inputWrapper,
  .answerWrapper {
    width: 100%;
    input {
      height: 2rem;
      padding-left: 5px;
      width: 100%;
    }
  }
}
