.inputresultWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  label {
    font-size: 20px;
  }
  .inputWrapper,
  .resultWrapper {
    width: 100%;
    input {
      height: 2rem;
      padding-left: 5px;
      width: 100%;
    }
    span {
      font-size: 12px;
      background-color: yellow;
    }
  }
}
